// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: 'Arvo', serif;
  font-size: 14px;
  color: #E36F00;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.6em;
}



a {
  text-decoration: none;
  color: #AE172A;
}

a:hover {
}

img.border {
  border: 6px solid #E1F1F6;
}

img.alignleft {
  float: left;
  margin-right: 25px;
}

img.alignright {
  float: right;
}

img.aligncenter {
  margin: 0px auto;
}

#wrapper {
  margin: 0 auto;
  padding: 0;
}

/* Header */

#header {
  overflow: hidden;
  width: 900px;
  margin: 0 auto;
}

/* Logo */

#logo {
  margin: 0;
  padding: 45px 0px 15px 0px;
  color: #E36F00;
}

#logo h1, #logo p {
  margin: 0;
  padding: 0;
}

#logo h1 {
  display: block;
  letter-spacing: -3px;
  text-align: center;
  font-size: 64px;
}

#logo span {
  letter-spacing: normal;
  font-size: 22px;
}

#logo a {
  border: none;
  background: none;
  text-decoration: none;
  color: #FFFFFF;
}

/* Search */

#search {
  float: right;
  width: 280px;
  padding: 0;
}

#search form {
  float: right;
  height: 41px;
  margin: 0;
  padding: 40px 40px 0 0px;
}

#search fieldset {
  margin: 0;
  padding: 0;
  border: none;
}



#search-submit {
  display: none;
}

/* Menu */

#menu-wrapper {
  height: 50px;
  background: url(images/menu-wrapper.png) repeat-x left top;
}

#menu {
  width: 900px;
  height: 50px;
  margin: 0px auto 0 auto;
  padding: 0px 40px;
  text-align: center;
}

#menu ul {
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  line-height: normal;
}

#menu li {
  display: inline-block;
  border-radius: 10px;
}

#menu a {
  display: inline-block;
  height: 50px;
  margin-right: 1px;
  padding: 0px 20px 0px 20px;
  line-height: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
  border: none;
}

#menu .current_page_item a {
  background: #770818;
}

#menu a:hover {
  background: #770818;
}

#splash {
  width: 1000px;
  height: 260px;
  margin: 0px auto;
  background: url(images/img05.jpg) no-repeat left top;
}

/* Page */

#page {
  overflow: hidden;
  width: 900px;
  margin: 0px auto;
}

/* Content */

#content {
  float: left;
  width: 540px;
}





/* Footer */

#footer {
  height: 140px;
  margin: 0px auto;
  background: #330609
}

#footer p {
  margin: 0;
  padding-top: 30px;
  line-height: normal;
  text-align: center;
  font-size: 12px;
}

#footer a {
  text-decoration: underline;
}

#about {
  overflow: hidden;
  width: 820px;
  margin: 30px auto 30px auto;
  padding: 40px 40px;
  background: rgba(0,0,0,.5);
}



#two-column {
  padding-top: 30px;
}

#two-column h2 {
  padding-bottom: 20px;
  letter-spacing: -1px;
  font-size: 30px;
  color: #A26500;
}

#two-column #column1 {
  float: left;
  width: 390px;
}



#banner {
  width: 900px;
  margin: 30px auto;
}

