


</head>


<body>

<div id="wrapper">
  <div id="menu-wrapper">
  <div id="menu">
 

    <ul>
      
      <li><%= link_to image_tag(image_url("soundcloud_connect.png")), soundcloud_connect_path %></li>
      
      
   
    </ul>
  </div>
  </div>
  <!-- end #menu -->
  <div id="header">
    <div id="logo">
      <h1>Synth Sound Station</h1>
    </div>
  </div>
  <!-- end #header -->
  <div id="about">
    <h1 class="title">Welcome to the page of synth enthusiasts</h1>
    <% p image_url('moog.jpg') %>
    <p><img src=<%= image_url('moog.jpg') %> alt="" width="225" height="225" class="alignleft" /> </p> 
    <p> The concept is simple enough – a basic circuit generates a tone, and the tone can then be controlled by some sort of input, human or otherwise. It’s a concept that has provided the backbone for countless instruments over the last 100-or-so years, and like it or not, has informed the direction of modern music both in the mainstream and in the underground. </p>

    <p>These days it’s easy enough to boot up your cracked copy of Ableton Live or Logic and open any number of VST synthesizers, giving you access to decades of technological innovation. It is however important to know how these sounds took hold in the first place, and why they were so successful. Sometimes it was simply the fact that there was no competition (the Minimoog) and sometimes the success was simply down to price and availability (the MS-20).</p>

    <p>The following list contains a few of the key instruments that helped shape electronic music, from the obvious (the unmistakable Roland TB-303) to the obscure (the humble Alpha Juno 2). You might be surprised how many of them lie at the center of your favorite tracks. </p>


  
  </div>

  </div>
      <div class="post">
        <h2 class="title"><a href="#">Online Music Collaboration</a></h2>
        <p class="meta">Posted by <a href="#">Admin</a> on Feb 25, 2016
          </p>
        <div class="entry">
          <p>Online music collaboration has become a very powerful force in the world of music recording. The world wide nature of the internet , coupled with new technologies available to musicians, the declining cost of producing quality sound from home based recording equipment and the capabilities that these technological advances offer, has made online music collaboration a powerful way to make music.</p>

<p>Online music collaboration may have many flavors. Some artists will have a song already written, and will collaborate online to solicit the various musicians needed to make the song whole. Others will collaborate right from the conceptual stage, to the actual writing of the song, often times progressing to the recording of the song, while using a collaborative model throughout the process.</p>

<p>So, what do you need to effectively collaborate online and how does it work?  First, you will need a computer that has a sound card and an internet connection. Your computer should be as powerful as you can afford to make it. Sound files and the process of recording and mixing music, takes a large toll on a computer's storage and memory capacity.  A high speed / broadband internet connection is highly recommended. The uploading and downloading of audio files can be painfully slow with a dial-up connection. Although using dial up is possible, you may find it a very frustrating process. You will also need software that enables you to record and/or mix sound files. There are a myriad of software packages out there that will do that, and much much more. The cost of software ranges from freeware, to professional grade software. Packages like Audacity are an example of freeware, while Pro Tools and Cubase are examples of professional grade software. Doing a search of free music recording software, should give you a good start to finding the right software for your needs and budget. Often times the more expensive packages are richer in functionality. Having said that, it is quite possible to acquire software at a very reasonable price, that will support the basics of on-line music collaboration. </p>
        </div>
      </div>





</body>
</html>

