

<button><p><%= link_to "Logout", logout_path %></p></button>



</head>
<body>

<div id="wrapper">
  <div id="menu-wrapper">
  <div id="menu">

  
    <ul>
      <li class="current_page_item"><a href="#">Home</a></li>
      <li><a href="#">Sound Patches</a></li>
     
    </ul>
  </div>
  </div>

    <div id="header">
    <div id="logo">
      
      <h1>Available Sound Ideas</h1>
    
    </div>
</div>

<div id="soundclips">
    
  <p align="center"><iframe width="50%" height="80" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/248979887&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></p>

  <p align="center"><iframe width="50%" height="80" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/248980199&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></p>

  <p align="center"> <iframe width="50%" height="80" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/248980493&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></p>

  <p align="center"><iframe width="50%" height="80" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/248980750&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></p>


  <p align="center"><iframe width="50%" height="80" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/248980641&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></p>




  
  </div>
  
<div class="post_bottom">
        
        
          
</div>  
    
  



    

</body>
</html>


  


